{% extends 'base.html' %}
{% block mainbody %}
  

   <div class="text-white"><br><br>
    <h2>First you have to turn on 2 step verification</h2>
    <ol>
      <li>Open your google account</li>
      <li>Click on "Security" from left side.</li>
      <li>After that, you can see 2-Step verification is off, hence hit on 2-Step verification.</li>
      <li>Complete all steps for 2step verification, finally it'll be turned on.</li>
    </ol><br>
    <h2>Now you have to create Google app password</h2>
    <ol>
      <li>Firstly, open your Google Account and hit on Security option.</li>
      <li>Click on App Password, you can see app password is none for now.</li>
      <li>Thereafter, enter your Google account credentials and hit on Next.</li>
      <li>Select App accordingly from Mail, Calendar, Contacts, YouTube, and Other.Click on mail here.</li>
      <li>Now pick a device as per your need from the drop-down list i.e., ­­iPhone, iPad, BlackBerry, Mac, Windows Phone, Windows Computer, and Other.</li>
      <li>After that, click on Generate to start the operation.</li>
      <li>16-digit passcode is generated successfully for your Google account, press Done to confirm.</li>
      <li>This 16-digit passcode is your App's Password. Save it somewhere for future use.</li>
    </ol>
   </div>
    <br><br><br>
    {% endblock mainbody %}